MANIFEST
build/
dist/
lib/
nbproject/
igraph-0.7.0-msvc-py27/
igraph-0.7.0-msvc-py3/
igraph-0.7.1-msvc-py27/
igraph-0.7.1-msvc-py34/
igraph-0.7.1-msvc-py35/
louvain.egg-info/
louvain-0.5/
wlib/
bin/
obj/
Makefile
*.log
**/*.o
**/*.so
**/*.pyc
files.txt
files_py3.txt
callgrind*
main.cpp
louvain-dists.zip
louvain-igraph.cbp
louvain-igraph.depend
louvain-igraph.layout
louvain.log
igraph-0.7.0.tar.gz
igraph-0.7.1.tar.gz
igraphcore/
**/*.swp
valgrind-python.supp
test/
test_install.sh
massif*
.vscode/
*.code-workspace
PACKAGE.txt
louvain-igraph.cscope_file_list
