MANIFEST
build/
dist/
lib/
nbproject/
leidenalg.egg-info/
wlib/
bin/
obj/
Makefile
*.log
**/*.o
**/*.so
**/*.pyc
files.txt
files_py3.txt
callgrind*
main.cpp
leiden-dists.zip
leidenalg.cbp
leidenalg.depend
leidenalg.layout
leiden.log
igraphcore/
**/*.swp
valgrind-python.supp
test/
test_install.sh
massif*
.vscode/
*.code-workspace
PACKAGE.txt
vendor/source/igraph
src/version.py
pip-wheel-metadata
vendor/source/install
.eggs/