MANIFEST
build/
dist/
lib/
nbproject/
igraph-0.7.0-msvc-py27/
igraph-0.7.0-msvc-py3/
igraph-0.7.1-msvc-py27/
igraph-0.7.1-msvc-py34/
igraph-0.7.1-msvc-py35/
leiden.egg-info/
wlib/
bin/
obj/
Makefile
*.log
**/*.o
**/*.so
**/*.pyc
files.txt
files_py3.txt
callgrind*
main.cpp
leiden-dists.zip
leiden-igraph.cbp
leiden-igraph.depend
leiden-igraph.layout
leiden.log
igraph-0.7.0.tar.gz
igraph-0.7.1.tar.gz
igraphcore/
**/*.swp
valgrind-python.supp
test/
test_install.sh
massif*
.vscode/
*.code-workspace
PACKAGE.txt
leiden-igraph.cscope_file_list
