include LICENSE
include CHANGELOG
include README.rst
include pyproject.toml
include include/
include MANIFEST.in
include tests/*.py

exclude .git*
exclude *.yml
exclude release*
prune .github

graft vendor/source/igraph
