include LICENSE
include CHANGELOG
include README.rst
include pyproject.toml
include include/
include MANIFEST.in
include tests/*.py

exclude .git*
exclude *.yml
exclude release*
prune .github

graft vendor/source/igraph
prune vendor/source/igraph/etc/abstracts
prune vendor/source/igraph/etc/papers
prune vendor/source/igraph/etc/presentations
prune vendor/source/igraph/interfaces
prune vendor/source/igraph/vendor/simpleraytracer
